.card {
  background-color: transparent;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Box1 {
  display: flex;
  justify-content: space-between;
}

.proImage {
  height: 80vh;
  opacity: 50%;
  transition: 500ms ease-in;
  padding-top: 2%;
  margin-left: 2%;
}
.proImage:hover {
  opacity: 80%;
}
.bio {
  color: white;
  text-align: center;
  font-family: "Saira Stencil One", cursive;
}

.bio > h1 {
  margin: 0;
  font-weight: 1;
}

.bio > p {
  margin: 0;
}

.big {
  font-size: 40px;
  font-weight: 500;
}
.small {
  font-size: 25px;
  font-weight: 500;
  transition: 500ms;
}

.small:hover,
.big:hover {
  transition: 500ms;
  color: black;
}
