.Box {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 0;
}
.timeline {
  text-align: left;
  height: 100%;
  width: 100%;
}
.MuiPaper-root {
  background-color: #ffffff54 !important;
  color: #ffffff !important;
}
.MuiTypography-body2 {
  color: #ffffff !important;
}
.listText {
  font-size: medium;
}
.listText2 {
  font-size: medium;
  text-align: left;
}

/* calendar */
.cal {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(0, 0, 0);
  width: 950px;
}
.cal h2 {
  font-size: 40px;
  color: #ffffff;
}
.cal a {
  color: black;
}

#calendar {
  background-color: transparent;
}
/* calendar */
