#footer1 {
  background-image: url("./btnB.png");
  background-size: cover;
  background-position: center center;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
